html {
    scroll-behavior: smooth;
    min-height: 150%;
}

body {
    background-color: aquamarine;
}

#headbanner {
    /* Square Shape & Position */
    height: 70px;
    width: 700px;
    text-align: center;
    background-color: beige;
    
    /* Positioning */
    margin-top: 15px;
    position: fixed;
    margin-left: 100px;
    margin-right: 100px;
    
    font-family: 'Cambay';
    line-height: 10px;
}

.inline {
    display: inline-block;
}

#headmenu a {
    text-decoration: none;
    text-align: center;
}

#box1 {
    height: 650px;
    width: 100%;
    background-image: url("imgs/contactus.jpg");
    /*background-color: black;*/
    padding-bottom:10px;
}

.addresssquareil {
    width: 275px;
    height: 150px;
    background-color: beige;
    box-shadow: 4px 7px 5px 0px grey;
    border: black;

    
    position: relative;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    display: inline-block;
}

.addresssquarenil {
    width: 275px;
    height: 150px;
    background-color: beige;
    box-shadow: 4px 7px 5px 0px grey;
    border: black;

    
    position: relative;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    display: inline-block;
}

h2 {
    text-align: center;
    font-family: 'Cambay';
    font-weight: bolder;
    margin-top: 50px;
}

#googlemap {
    width: 600px;
    height:450px;
    margin-top: 20px;
    margin-left: 210px;
    border-style: ridge;
    border-color: black;
}

footer{
    height:50px;
    width:100%;
    background-color: beige;
    margin-top: 100px;
    line-height: 50px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}